{%- if product.vendor -%}
  {%- capture vendor_link -%}
    {{ product.vendor | link_to_vendor }}
  {%- endcapture -%}

  <div
    data-subsection
    data-section-id="{{ section.id }}"
    data-section-type="vendor-products"
    data-product-id="{{ product.id }}"
    data-vendor="{{ product.vendor }}">
    <div class="index-section index-section--sub-product">
      <div class="page-width">
        <header class="section-header">
          <div class="h3 section-header__title">{{ 'products.general.more_from_html' | t: link: vendor_link }}</div>
        </header>
      </div>

      <div class="page-width page-width--flush-small">
        <div id="VendorProducts-{{ section.id }}"
          class="new-grid product-grid scrollable-grid--small" data-view="scrollable">
          {% comment %}
            This content is visually hidden and replaced when recommended
            products show up
          {% endcomment %}
          <div class="visually-invisible">
            {%- render 'product-grid-item', product: product, no_actions: true -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "More from vendor",
    "settings": [
      {
        "type": "paragraph",
        "content": "This section will only appear when you are on a product that has a vendor set"
      }
    ]
  }
{% endschema %}
